<div class="header">
  <h1>Archive</h1>
</div>
<mat-card>
  <table class="user-table">
    <tr>
      <th>Name Task</th>
      <th>Board</th>
      <th>Due Date</th>
    </tr>
    
    <tr *ngFor="let task of archivedTasks, let i = index">
      <td (click)="openDialogTasksDetails(task.taskId, task)">{{ task.name }}</td>
      <td (click)="openDialogTasksDetails(task.taskId, task)">{{ getBoardNameFromId(task.boardName) }}</td>
      <td (click)="openDialogTasksDetails(task.taskId, task)">{{ task.dueDate | date : 'fullDate' }}</td>
    </tr>
  </table>
  <button mat-raised-button color="warn" (click)="openDialogDeleteAll()" class="delete-btn">Delete All</button>

</mat-card>
