<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Productivity App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <!-- Mit Hilfe der Syntax #someName wird eine Template Variable mit dem Namen someName definiert, in 
  der auf das entsprechende HTML Objekt referenziert wird, in diesem Fall mat-drawer. -->
  <mat-drawer #drawer class="example-sidenav hide-mobile" mode="side" [opened]="true">
    <ul class="menu-items">
      <li [routerLink]="[fireAuth.userUid, 'boards']" *ngIf="fireAuth.loggedIn"><mat-icon>dashboard</mat-icon>Kanban Boards</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>reorder</mat-icon>ToDo List</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>book</mat-icon>Notes</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>alarm</mat-icon>Pomodoro Timer</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>accessibility_new</mat-icon>Habit Tracker</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>calendar_today</mat-icon>Statistics</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>build</mat-icon>Settings</li>
      <li [routerLink]="[fireAuth.userUid, 'todo']" *ngIf="fireAuth.loggedIn"><mat-icon>help</mat-icon>Help</li>
      <li [routerLink]="'/'" (click)="logOut()"><mat-icon>account_circle</mat-icon>Log out</li>
    </ul>
  </mat-drawer>

  <!-- Das funktioniert nicht: !!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <!-- <mat-drawer #drawer class="example-sidenav hide-desktop" mode="over" [opened]="false">
    <a [routerLink]="'boards'">Kanban Boards</a>
  </mat-drawer> -->

  <div class="example-sidenav-content">
    <!-- Achtung: Das <router-outlet> Tag makiert nur die Stelle an der die entsprechende Routing-Komponente 
      angezeigt werden soll. Sie wird direkt darunter erzeugt. Es ist nicht so, dass das <router-outlet> Tag
      durch die Komponente ersetzt wird => Das <router-outlet> Tag zu stylen ist sinnlos. Um die Komponente 
      zu stylen, die nach dem router-outlet eingebunden wird, kann entweder ein kompizierter Selektor mit 
      ::ng-deep und * verwendet werden, oder man fügt eine globale Klasse zu den Metadaten der entsprechenden
      Komponente mit :host ... (siehe board.component.ts) -->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>