.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  height: calc(100vh - 64px);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 300px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 	0, 0, 0.04);
    }
  }
}

.active-link {
  background-color: rgba(0, 	0, 0, 0.1);
  &:hover {
    background-color: rgba(0, 	0, 0, 0.1)!important;
  }
}

.primary-button {
  &:hover {
    background-color: #4e2b89;
  }
}

.timer {
  margin-right: 10px;
  padding: 0 16px;
  border-radius: 4px;
  text-align: center;
  &:hover {
    background-color: #4e2b89;
    cursor: pointer;
  }
}
