.board-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.category-div {
  background-color: rgb(209, 206, 206);
  height: 100%;
  width: 300px;
  margin: 32px 16px 32px 16px;
}

.add-button {
  position: absolute;
  right: 56px;
  bottom: 56px;
}