.board-container {
  height: 90%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.category-div {
  background-color: #8080802e;
  min-width: 250px;
  margin: 0 16px 16px 16px;
}

.add-button {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

.header {
  padding: 20px;
  h1 {
    font-size: 30px;
    font-weight: 500;
  }
}

.title-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  mat-icon {
    margin-right: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}