<div class="header">
  <h1>{{ activeBoard.name }}</h1>
</div>
<div class="board-container">
  <mat-card *ngFor="let col of activeBoard.columns, let i = index" class="category-div">
    <mat-card-title>
      <div class="title-col">
        {{ col }}
        <div>
          <mat-icon (click)="openDeleteColDialog(i)"  *ngIf="col != 'Do today' && col != 'Done'">delete</mat-icon>
          <mat-icon (click)="openDialog(i)">add</mat-icon>
        </div>
      </div>
    </mat-card-title>
    <mat-card *ngFor="let task of TasksCol(i)" class="task">
      <mat-card-title>{{ task.name }}</mat-card-title>
      <mat-card-content>{{ task.description }}</mat-card-content>
    </mat-card>
  </mat-card>
</div>

<!-- <button mat-fab color="primary"
  (click)="openDialog()"
  class="add-button"
  matTooltip="Add Task">
  <mat-icon>add</mat-icon>
</button> -->

<button mat-fab color="primary"
  (click)="addColumn()"
  class="add-button"
  matTooltip="Add Column">
  <mat-icon>add</mat-icon>
</button>