<div class="main-div">
  

  
  <span>{{timer.activeTimer ? (timer.activeTimer.clock[0] | clock) : clockInit[0] | clock}} : {{timer.activeTimer ? (timer.activeTimer.clock[1] | clock) : clockInit[1]}}</span>
  <button mat-icon-button>
    <mat-icon *ngIf="timer.isTimerPaused"
    (click)="startTimer()">
      play_arrow
    </mat-icon>
    <mat-icon *ngIf="!timer.isTimerPaused" 
    (click)="timer.pauseTimer()">
      pause_arrow
    </mat-icon>
  </button>
  <app-circle-progress [progress]="valueProgress"></app-circle-progress>
  <button mat-icon-button (click)="addFiveMinutes()">
    <span> +5min</span>
  </button>
  <button mat-icon-button (click)="resetTimer()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="timer.finishTimer()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>



