#progress {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 20px;
}