<div class="header">
  <h1>{{ activeBoard.name }}</h1>
</div>

<div class="board-container" cdkDropListGroup>
  <mat-card *ngFor="let col of activeBoard.columns, let i = index"
   class="category-div" 
   cdkDropList
   (cdkDropListDropped)="drop($event, col)"
   [cdkDropListData]="TasksCol(i)">
    <mat-card-title>
      <div class="title-col">
        {{ col }}
        <div class="flex-center">
          <button mat-icon-button 
          [matMenuTriggerFor]="taskMenu"
          class="delete">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #taskMenu="matMenu">
            <button mat-menu-item (click)="openDialogEditName(i)">Edit Name</button>
            <button mat-menu-item (click)="openDialogEditPosition()">Edit Position</button>
            <button mat-menu-item (click)="openDeleteColDialog(i)">Delete</button>
          </mat-menu>
          <mat-icon (click)="openDialog(i)">add</mat-icon>
        </div>
      </div>
    </mat-card-title>
    <!-- Die Eventvariable wird in Angular mit einem $ am Anfang markiert: -->
    <div >
      <mat-card *ngFor="let task of TasksCol(i)"
       class="task" 
       [ngClass]="{
         'timer-bg-active' : timer.currentTaskId == task.taskId && !timer.isTimerPaused,
         'timer-bg-pause' : timer.currentTaskId == task.taskId && timer.isTimerPaused
        }"
       (click)="openDialogTasksDetails(task.taskId, task)"
       cdkDrag>
        <mat-card-title>{{ task.name }}</mat-card-title>
        <mat-card-content>{{ task.description }}</mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>

<!-- <button mat-fab color="primary"
  (click)="openDialog()"
  class="add-button"
  matTooltip="Add Task">
  <mat-icon>add</mat-icon>
</button> -->

<button mat-fab color="primary"
  (click)="addColumn()"
  class="add-button"
  matTooltip="Add Column">
  <mat-icon>add</mat-icon>
</button>