.board-container {
  height: calc(100vh - 138px);
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.category-div {
  background-color: #8080802e;
  min-width: 300px;
  max-width: 400px;
  margin: 0 16px 16px 16px;
  flex: 1;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.694); 
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }
}

.add-button {
  position: fixed;
  right: 56px;
  bottom: 56px;
  
}

.header {
  padding: 20px;
  h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 0!important;
    @media (max-width: 500px) {
      margin: 0!important;
      font-size: 25px;
    }
    @media (max-height: 500px){
      font-size: 25px;
    }
  }
  
}

.title-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  mat-icon {
    margin-right: 15px;
    &:hover {
      cursor: pointer;
    }
  }
}

.delete {
  &:hover {
    cursor: pointer;
  }
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.task {
  margin-top: 8px;
  cursor: pointer;
  overflow: auto;
  mat-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.694); 
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }
}

.timer-bg-active {
  background-color: rgb(1 255 255 / 40%) !important;
}

.timer-bg-pause {
  background-color: #ffd640bf!important;
}

@media (max-width: 800px){
  .mat-card-title {
    font-size: 20px;
  }

  .mat-card-content {
    font-size: 13px;
  }

  .category-div {
    min-width: 200px;
    max-width: unset;
  }

  .task {
    height: 100px;
    overflow: hidden;
  }

  // .title-col {
  //   flex-direction: column;
  //   justify-content: center;
  // }

}

@media (max-width: 500px){
  .category-div {
    min-width: 150px;
    max-width: unset;
  }

  .add-button {
    right: 24px;
    bottom: 24px;
  }

}

@media (max-height: 500px){
  .add-button {
    right: 24px;
    bottom: 24px;
  }
}

@media (max-height: 500px) and (orientation:landscape) {
  :host {
    height: 100%!important;
  }
  .board-container {
    height: calc(100vh - 72px);
  }
}








